body {
  padding: 0;
  margin: 0; }

.row {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: avenir;
  src: url("../fonts/avenir.otf"); }
@font-face {
  font-family: ptserif;
  src: url("../fonts/ptserif.ttf"); }
.hero {
  padding-top: 5vh;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero-background.jpg");
  background-size: cover; }
  .hero .hero-inner {
    width: 94vw;
    height: 90vh;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0 auto; }
    .hero .hero-inner .border-top {
      width: 80vw;
      float: right;
      border-top: 1px solid #fff; }
    .hero .hero-inner .border-left {
      height: 80vh;
      border-left: 1px solid #fff; }
    .hero .hero-inner img {
      height: 12vh;
      margin-top: -2vh; }
    .hero .hero-inner .text-container {
      text-align: center;
      margin-top: -70vh; }
      .hero .hero-inner .text-container p {
        font-size: 36px;
        color: #fff;
        font-family: 'ptserif', serif;
        line-height: 1.2; }
        .hero .hero-inner .text-container p span {
          font-family: 'avenir', sans-serif;
          font-size: 45px; }
        .hero .hero-inner .text-container p .tm {
          font-size: 20px;
          display: block;
          margin-left: 290px;
          margin-top: -50px; }
      .hero .hero-inner .text-container .second {
        margin-top: 20px; }

@media (max-height: 540px) {
  .hero .hero-inner img {
    height: 15vh; }
  .hero .hero-inner .border-left {
    height: 77vh; } }
@media (max-height: 435px) {
  .hero .hero-inner img {
    height: 18vh; }
  .hero .hero-inner .border-left {
    height: 74vh; } }
@media (max-height: 336px) {
  .hero .hero-inner img {
    height: 19vh; }
  .hero .hero-inner .border-left {
    height: 72.5vh; } }
@media (max-height: 500px) {
  .hero .hero-inner .text-container {
    margin-top: -80vh; } }
@media (max-height: 382px) {
  .hero .hero-inner .text-container p {
    font-size: 25px; }
    .hero .hero-inner .text-container p span {
      font-size: 30px; }
    .hero .hero-inner .text-container p .tm {
      margin-left: 200px;
      margin-top: -40px; }
  .hero .hero-inner .text-container .second {
    margin-top: 10px; } }
@media (max-width: 800px) {
  .hero .hero-inner {
    width: 90vw; } }
@media (max-width: 483px) {
  .hero .hero-inner {
    width: 85vw; } }
@media (max-width: 1090px) {
  .hero .hero-inner .border-top {
    width: 78vw; } }
@media (max-width: 875px) {
  .hero .hero-inner .border-top {
    width: 70vw; } }
@media (max-width: 800px) and (min-height: 900px) {
  .hero .hero-inner .border-top {
    width: 60vw; }
  .hero .hero-inner .text-container {
    margin-top: -130%; } }
@media (max-width: 635px) {
  .hero .hero-inner .border-top {
    width: 65vw; } }
@media (max-width: 490px) {
  .hero .hero-inner .border-top {
    width: 55vw; } }
@media (max-width: 435px) {
  .hero .hero-inner .border-top {
    width: 52vw; } }
@media (max-width: 400px) {
  .hero .hero-inner .border-top {
    width: 50vw; } }
@media (max-width: 380px) {
  .hero .hero-inner .border-top {
    width: 45vw; } }
@media (max-width: 330px) {
  .hero .hero-inner .border-top {
    width: 40vw; } }
@media (max-width: 455px) {
  .hero .hero-inner .text-container p {
    font-size: 32px; }
    .hero .hero-inner .text-container p span {
      font-size: 36px; }
    .hero .hero-inner .text-container p .tm {
      margin-left: 240px;
      margin-top: -40px; }
  .hero .hero-inner .text-container .second {
    margin-top: 10px; } }
@media (max-width: 350px) {
  .hero .hero-inner .text-container p {
    font-size: 25px; }
    .hero .hero-inner .text-container p span {
      font-size: 30px; }
    .hero .hero-inner .text-container p .tm {
      margin-left: 200px;
      margin-top: -40px; }
  .hero .hero-inner .text-container .second {
    margin-top: 10px; } }
@media (min-height: 900px) and (min-width: 1500px) {
  .hero .hero-inner .border-left {
    height: 79.7vh; }
  .hero .hero-inner .text-container p {
    font-size: 45px; }
    .hero .hero-inner .text-container p span {
      font-size: 60px; }
    .hero .hero-inner .text-container p .tm {
      margin-left: 390px;
      margin-top: -60px; }
  .hero .hero-inner .text-container .second {
    margin-top: 30px; } }
@media (min-height: 1100px) and (min-width: 1800px) {
  .hero .hero-inner .text-container p {
    font-size: 55px; }
    .hero .hero-inner .text-container p span {
      font-size: 70px; }
    .hero .hero-inner .text-container p .tm {
      margin-left: 460px;
      margin-top: -70px; }
  .hero .hero-inner .text-container .second {
    margin-top: 40px; } }
@media (min-height: 1300px) and (min-width: 2400px) {
  .hero .hero-inner .text-container p {
    font-size: 75px; }
    .hero .hero-inner .text-container p span {
      font-size: 90px; }
    .hero .hero-inner .text-container p .tm {
      font-size: 30px;
      margin-left: 590px;
      margin-top: -100px; }
  .hero .hero-inner .text-container .second {
    margin-top: 60px; } }
@media (max-width: 1024px) and (min-height: 1300px) {
  .hero .hero-inner {
    width: 88vw; }
    .hero .hero-inner .border-top {
      width: 60vw; }
    .hero .hero-inner .text-container {
      margin-top: -150%; }
      .hero .hero-inner .text-container p {
        font-size: 45px; }
        .hero .hero-inner .text-container p span {
          font-size: 55px; }
        .hero .hero-inner .text-container p .tm {
          font-size: 20px;
          margin-left: 350px;
          margin-top: -60px; }
      .hero .hero-inner .text-container .second {
        margin-top: 30px; } }

/*# sourceMappingURL=app.css.map */
