@import 'variables';

// Styles for both desktop and mobile
.details-desktop, .details-mobile {
  text-align: center;
  padding: 40px 0 0 0;
  h1 {
    font-family: 'ptserif', serif;
    color: $dark-gray;
    margin-bottom: 40px;
  }
  h2 {
    font-family: 'ptserif', serif;
    color: $dark-gray;
    width: 70px;
    height: 70px;
    margin: 10vh auto 0 auto;
    padding-top: 13px;
    font-size: 38px;
    background-color: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 50%;
  }
  p {
    font-family: 'ptserif', serif;
    color: $dark-gray;
    font-size: 30px;
    margin-top: 10px;
  }
  .text-block {
    height: 60vh;
    min-height: 400px;
  }
  .proposal-creation {
    background-image: url('../img/proposal-creation.jpg');
    background-size: cover;
  }
  .media-buying {
    background-image: url('../img/media-buying.jpg');
    background-size: cover;
  }
  .campaign-prep {
    background-image: url('../img/campaign-prep.jpg');
    background-size: cover;
  }
  .campaign-management {
    background-image: url('../img/campaign-management.jpg');
    background-size: cover;
  }
  // see more container and button styles
  .container {
    width: 90%;
    margin: auto;
    text-align: center;
    transition: all 0.5s;}
    button {
      margin-bottom: 10px;
      border: none;
      background: transparent;
      color: $green;
      font-size: 22px;
      transition: 0.2s;
      text-decoration: none;
      &:hover {
        color: $dark-gray;
        transition: 0.2s;
        text-decoration: none;
      }
    }
    .post {
      margin-bottom: 10px;
      transition: all 0.5s;
    }
    .less {
      height: 40px; width: 100%;
      overflow: hidden;
    }
    .more {
      height: 150px; width: 100%;
      overflow: auto;
    }
    ul {
      text-align: left;
      li {
        font-size: 16px;
      }
    }
}

// Styles for desktop
.details-desktop {
  .proposal-creation {
    width: 50%;
    height: 60vh;
    min-height: 400px;
  }
  .media-buying {
    width: 50%;
    height: 60vh;
    min-height: 400px;
  }
  .campaign-prep {
    width: 50%;
    height: 60vh;
    min-height: 400px;
  }
  .campaign-management {
    width: 50%;
    height: 60vh;
    min-height: 400px;
  }
}

// Styles for mobile
.details-mobile {
  .proposal-creation {
    width: 100%;
    height: 60vh;
    min-height: 400px;
  }
  .media-buying {
    width: 100%;
    height: 60vh;
    min-height: 400px;
  }
  .campaign-prep {
    width: 100%;
    height: 60vh;
    min-height: 400px;
  }
  .campaign-management {
    width: 100%;
    height: 60vh;
    min-height: 400px;
  }
}


// *************
// Media queries
// *************

// Hides desktop and shows mobile for small screens
@media (min-width: 768px) {
  .details-mobile {
    display: none;
  }
  .details-desktop {
    display: block;
  }
}

@media (max-width: 767px) {
  .details-mobile {
    display: block;
  }
  .details-desktop {
    display: none;
  }
}

// Increases text size for larger screens
@media (min-width: 1500px) {
  .details-desktop {
    h1 {
      font-size: 60px;
      margin-bottom: 80px;
    }
    h2 {
      font-size: 60px;
      height: 100px;
      width: 100px;
    }
    p {
      font-size: 45px;
    }
    a {
      font-size: 40px;
    }
  }
}

// Increases text size for larger screens
@media (min-width: 2300px) {
  .details-desktop {
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 80px;
      height: 120px;
      width: 120px;
    }
    p {
      font-size: 75px;
    }
    a {
      font-size: 55px;
    }
  }
}

// Decreases text size for small mobile screens
@media (max-width: 350px) {
  .details-mobile {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 22px;
    }
    a {
      font-size: 18px;
    }
  }
}

// Changes see more text for larger screens
@media (min-width: 1600px) {
  .details-desktop {
    .more {
      height: 240px;
    }
    button {
      font-size: 30px;
    }
    ul {
      li {
        font-size: 24px;
      }
    }
  }
}

@media (min-width: 1900px) {
  .details-desktop {
    .less {
      height: 48px;
    }
    .more {
      height: 320px;
    }
    button {
      font-size: 40px;
    }
    ul {
      li {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 2400px) {
  .details-desktop {
    .less {
      height: 58px;
    }
    .more {
      height: 520px;
    }
    button {
      font-size: 50px;
    }
    ul {
      li {
        font-size: 34px;
      }
    }
  }
}

// Changes see more text for smaller screens
@media (min-width: 768px) and (max-width: 1025px) and (max-height: 720px) {
  .details-desktop, .details-mobile {
    .container {
      width: 100%;
      .more {
        height: 190px;
      }
    }
    p {
      font-size: 24px;
    }
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 590px) and (max-height: 812px) {
  .details-desktop, .details-mobile {
    .container {
      width: 100%;
      .more {
        height: 190px;
      }
    }
    p {
      font-size: 24px;
    }
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 360px) and (max-height: 720px) {
  .details-desktop, .details-mobile {
    .container {
      width: 100%;
      .more {
        height: 190px;
      }
    }
    p {
      font-size: 24px;
    }
    ul {
      li {
        font-size: 12px;
      }
    }
  }
}

// ipad styles
@media (max-width: 768px) and (min-height: 1020px) {
  .details-desktop, .details-mobile {
    .proposal-creation {
      height: 460px;
    }
    .media-buying {
      height: 460px
    }
    .campaign-prep {
      height: 460px;
    }
    .campaign-management {
      height: 460px;
    }
    .text-block {
      height: 460px;
    }
    .container {
      width: 100%;
      .more {
        height: 290px;
      }
    }
    p {
      font-size: 24px;
    }
    ul {
      li {
        font-size: 14px;
      }
    }
  }
}

// ipad pro styles
@media (max-width: 1024px) and (min-height: 1300px) {
  .details-desktop, .details-mobile {
    .proposal-creation {
      height: 460px;
    }
    .media-buying {
      height: 460px
    }
    .campaign-prep {
      height: 460px;
    }
    .campaign-management {
      height: 460px;
    }
    .text-block {
      height: 460px;
    }
    .container {
      width: 100%;
      .more {
        height: 290px;
      }
    }
    p {
      font-size: 24px;
    }
    ul {
      li {
        font-size: 15px;
      }
    }
  }
}
