@import 'variables';

.footer {
  background-color: $dark-gray;
  height: 30vh;
  text-align: center;
  p {
    font-size: 14px;
    margin-top: 25vh;
    color: $white;
    .tm {
      font-size: 10px;
      display: block;
      margin-left: 150px;
      margin-top: -20px;
    }
  }
}

// ipad styles
@media (max-width: 768px) and (min-height: 1020px) {
  .footer {
    height: 15vh;
    p {
      margin-top: 10vh;
    }
  }
}

// ipad pro styles
@media (max-width: 1024px) and (min-height: 1300px) {
  .footer {
    height: 10vh;
    p {
      margin-top: 5vh;
    }
  }
}
